/* FloatingChatButton.css */
.floating-chat-button {
  position: absolute;
  bottom: 70px;
  right: 20px;
  z-index: 1000;
}

.chat-button {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: #1e3a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
